<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/game.erb -->

<nav class="navbar navbar-inverse" id="gamenavmenu">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><p class="gametext" style="display:inline">
        How to Play
      </p></a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          role="button" aria-haspopup="true" aria-expanded="false">
          <p class="gametext" style="display:inline">
            Hello <%= @username %>!
          </p><span class="caret"/>
        </a>

        <ul class="dropdown-menu">
          <li><a href="/newgame">New Game</a></li>
          <li><a href="#">Status</a></li>
          <li role="separator" class="divider"/>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

<div class="gamebg">
  <h4 class="gametext" id="healthlabel"><strong>Health</strong></h4>
  <h4 class="gametext" id="wealthlabel"><strong>Wealth</strong></h4>
  <h4 class="gametext" id="m_tlabel"><strong>Monster Tally</strong></h4>

  <h4 class="gametext" id="wealthvalue"<strong>$<%= @wealth %></strong></h4>
  <h4 class="gametext" id="m_tvalue"<strong><%= @monsters %> KOs</strong></h4>

  <div class="progress" id="healthbar">
    <div class="progress-bar progress-bar-success" role="progressbar"
      aria-valuenow="<%= @str %>" aria-valuemin="0" aria-valuemax="100"
      style="width: <%= @str %>%">
        <strong><%= @str %> points</strong>
    </div>
  </div>

  <p class="gametext text-center" id="roomeventname"><%= @next_st %></p>
  <p class="gametext text-center" id="roomeventtext"><%= @next_desc %></p>

  <% if @next_st == 'Event' then %>
    <p class="gametext text-center" id="roomeventtext"><%= @message %></p>
  <% end %>

  <form method="post" action="/gameadv" class="choiceform">
    <ul id="choicebuttons">
      <% @next_choices.each_with_index do |ch, i| %>
        <li><button type="submit" class="btn btn-primary" id="choicebtn"
              name="btn" value="<%= i %>"><%= ch %></button></li>
      <% end %>
    </ul>
  </form>
</div>
